<!-- chat/templates/chat/base.html -->
{% load static %}
{% comment %} {% load pwa %} {% endcomment %}
<!DOCTYPE html>
<html>
    <head>
        {% comment %} {% progressive_web_app_meta %} {% endcomment %}
        <meta charset="utf-8"/>
        <title>DeMiA Chat</title>
        <link rel="stylesheet" type ="text/css" href="{% static 'chat/css/style.css' %}" />
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block js %}{% endblock %}
        {% comment %} <footer>
            <ul class="nav-list">
                <li class="nav-item_footer"> 
                    <a href="{% url 'room_list' %}">       
                    <span>ルームリスト</span>
                    </a>
                </li>
                <li class="nav-item_footer">
                    <a href="{% url 'room' %}">
                    <span>トークルーム</span>
                    </a>
                </li>
                <li class="nav-item_footer">
                    <a href="{% url 'login' %}">
                    <span>ログイン</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'user_create' %}">
                    <span>ユーザー登録</span>
                    </a>
                </li>
            </ul>
        </footer> {% endcomment %}
    </body>
</html>